# Virtual environment
.venv/
env/

# Cache do Python
__pycache__/
*.pyc

# Logs e temporários
*.log
*.tmp

# Configs do VSCode
.vscode/

# VSCode
.vscode/
# IDEs
.idea/
# Caches do navegador
.cache/
# Logs e arquivos temporários
*.log
*.db

